h1 {font-family: Helvetica;text-align:center;text-decoration:underline;}
h2,h3 {font-family: Helvetica;}
.heading{text-decoration:underline;}
table{border:solid #000 3px; border-collapse:collapse;}
th{border:solid #000 2px}
td{border:dashed #000 1px}
.filled{background-color: darkgrey;}